body{
	background-color:#4dff4d;
}
#container{
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#header{
	text-align: center;
}

@media(min-width: 800px){
	.label{
		text-align: right;
		margin-right:  11%;
		margin-left: 9.5%;
		font-family: 'Quicksand', sans-serif;
	}
	h1{
		font-family: 'Quicksand', sans-serif;
	}
	input{
		margin-right: 10%;
		border:none;
		border-bottom:2px solid #4dff4d;
	}
	select{
		margin-right: 10%;
	}	
	fieldset{
		border:0;
	}
}

@media(max-width: 800px){
	.label{
		text-align: left;
		margin-right: 11%;
		margin-left: 3%;
		margin-top: 15px;
		font-family: 'Quicksand', sans-serif;
		width: 79vw
	}
	h1{
		font-family: 'Quicksand', sans-serif;
		width: 75vw;
	}
	input{
		margin-right: 10%;
		margin-left: 10%;
		border:none;
		border-bottom:2px solid #4dff4d;
	}
	select{
		margin-right: 10%;
		margin-left: 10%;
	}	
	fieldset{
		border:0;
	}
}
